# Conceptual Hierarchy in Python

Python programs can be said to be composed of 4 main things: modules, statements, expressions and objects.

- Programs are composed of modules.
- Modules contain statements.
- Statements contain expressions.
- Expressions create and process objects.

In most cases while programming in Python, it is best to use built-in objects because they make the programs we write much easier and more efficient.

# Core Data Types

## 1) Numbers

Integers: Whole numbers with NO fractional parts
Floating point numbers: Whole numbers with fractional parts
Complex numbers: with imaginary parts


<table>
<tr>
    <th>Examples</th> 
    <th>Number</th>
</tr>

<tr>
    <td>1,2,3,-7,100</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.35,-2.5,3e4</td> 
    <td>Floating-point numbers</td> 
    
</tr>

<tr>
    <td>3+4i, 4+2j</td> 
    <td>Complex numbers</td> 
    
</tr>

 </table>

We will be working through our lab sessions using Google Colab https://colab.research.google.com/

In [2]:
#integer addidion
234 + 345

579

In [3]:
# Floating-point multiplication
2.5 * 5

12.5

In [5]:
# 3 raised to power 5
3 ** 5

243

In [6]:
3.12345 * 2

6.2469

In [7]:
# Division
5/2

2.5

In [8]:
# Floor Division truncates the remainder
10//3

3

In [9]:
# Modulo division keeps the remainder
10%3

1

### Modules

Python ships with a couple of __math__ modules such as the math module and the random module. We demonstrate with some examples but we will be covering more on modules later in the course

The __math__ module contains more advanced numeric tools as functions

In [10]:

import math
math.pi

3.141592653589793

In [11]:
#sqrt
math.sqrt(145)

12.041594578792296

The __random__ module performs random-number generation and random selections

In [12]:
import random
random.random()

0.02705093322660057

In [13]:
random.choice([1, 2, 3, 4, 5, 6, 7, 8])

5

### Note on Variable Assignment

We can assign names and create variables in Python. Variables are assigned using the __`=`__ sign. Variable assignment follows `name = object`

Variable names have to follow these rules

1. Names can not start with a number.
2. There can be no spaces in the name, instead use underscore _ .
3. These symbols cannot be used :'",<>/?|\()!@#$%^&*~-+
4. It is considered best practice that names are lowercase.
5. Avoid using words that have special meaning in Python like "list", "import", "len" and "str"

In [15]:
# Use indicative variable names to help you keep track of your code


distance = 165 #miles

time = 3 #hours

speed = distance / time

speed #mph

55.0

Python also allows easy reassignment of variables

In [22]:
s = 3

s

3

In [23]:
s = s + 5
s

8

In [24]:
# Shortcut

s += 5
s

13

In [25]:
s *= 2
s

26

# 2) Strings

Strings are used to record textual information such as your name. Strings are a *sequence* in Python. They are positionally ordered collection of
other objects. Sequences maintain a left-to-right order among the items they contain. They can be created using single or double quotes

In [27]:
s = 'Arinze'

In [28]:
len(s)

6

In [29]:
s[0] ## The first item in S, indexing by zero-based position

'A'

In [30]:
print('Hello world!')

Hello world!

Strings are immutable meaning they cannot be changed once created

In [32]:
s[0] = 'z' #throws an error

TypeError: 'str' object does not support item assignment

In [33]:
# Task
# Make a ten-letter string and find the third letter

We can *slice* using the colon `:`

In [35]:
s[:] #Everything

'Arinze'

In [36]:
s[:3] #everything up to the third letter

'Ari'

In [37]:
s[1:] #everything from the second index, here letter r

'rinze'

In [38]:
s[-1] #the last letter

'e'

In [39]:
# everything but the last letter
s[:-1]

'Arinz'

In [40]:
# everything, in steps size of 1
s[::1]

'Arinze'

In [41]:
# everything, in steps size of 2
s[::2]

'Aiz'

In [42]:
s + 'Akutekwe' #Concatenation

'ArinzeAkutekwe'

In [43]:
s * 10

'ArinzeArinzeArinzeArinzeArinzeArinzeArinzeArinzeArinzeArinze'

## Basic String Methods

In [44]:
# Upper Case
s.upper()

'ARINZE'

In [45]:
# Lower case
s.lower()

'arinze'

In [47]:
s = s + ' is teaching now'

In [48]:
# Split a string by default blank space
s.split()

['Arinze', 'is', 'teaching', 'now']

In [49]:
# Split a string by a letter
s.split('z')

['Arin', 'e is teaching now']

In [51]:
# Find the position of a substring in S
s.find('ze')

4

In [52]:
# Replace occurrences of a string in S with another
s.replace('ze', 'big')

'Arinbig is teaching now'

In [53]:
s

'Arinze is teaching now'

In [54]:
s.isalpha()

False

In [57]:
s = s.upper()

In [58]:
s.isalpha() #check if string is alphabetic

False

In [59]:
b = 'spam'
b.isalpha()

True

In [61]:
attention = 'you are all paying attention   '
attention.rstrip() # Remove whitespace characters on the right side

'you are all paying attention'

In [63]:
 #using format to print out a string (Ask questions if it doesn't seem clear :)
'{0}, plus, and {1}'.format('Answer1', 'Answer2')

'Answer1, plus, and Answer2'

In [65]:
#the numbers are optional
'{}, plus, and {}'.format('Answer1', 'Answer2')

'Answer1, plus, and Answer2'

In [66]:
'{:,.2f}'.format(3998877.32212) # Separators, decimal digits

'3,998,877.32'

In [76]:
'%.2f | %+08d' % (3.14159, -42) # Digits, padding, signs. Play a bit with this to fully understand

'3.14 | -0000042'

In [79]:
print('Floating point numbers: %5.2f' %(23.5677))

Floating point numbers: 23.57

### Improved formatting 3.6+

The f-strings were introduced as improvement over the older `.format()`. They allow outside variables to be brought directly
into a string

In [80]:
name = 'Arinze'

print(f"Lecture's name is {name}.")

Lecture's name is  Arinze.

More can be found at the Python documentation link <br>
https://docs.python.org/3/reference/lexical_analysis.html#f-strings

In [82]:
## We will continue with more on Python basics in the next class